{% extends "base.html" %}

{% block content %}
<ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
        <a class="nav-link" href="/add">Добавление</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/delete">Удаление</a>
    </li>
</ul>
<div class="container">
    <div class="row justify-content-center my-5">
        <div class="col-md-offset-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                        <h2 class="heading">Удаление блюда</h2>
                        {{ form2.hidden_tag() }}
                        {{ form2.name(class="form-control") }}<br>
                        {{ form2.submit(type="submit", class="btn btn-primary") }}
                        <div>{{ message }}</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}