{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h2>Меню<a class="rounded-pill btn btn-light text-center ml-1" href="/menu/first">Посмотреть</a></h2>
            <p class="lead" style="font-size: 24px;">Для приготовления используются только свежие продукты. Блюда не содержат сою, консерванты и усилители вкуса</p>
            <p class="lead" style="font-size: 24px;">Мы еженедельное обновляем позиции в меню</p>
        </div>
        <div class="col">
            <img src="{{ url_for('static', filename='img/borsh.png') }}" style="width: 100%" data-toggle="popover" data-bs-title="Борщ" data-bs-content="Традиционный украинский борщ со сметаной" alt='борщец'>
        </div>
        <div class="col">
            <img src="{{ url_for('static', filename='img/cutletpotato.png') }}" style="width: 100%" data-toggle="popover" data-bs-title="Котлета рубленная куриная с пюре" data-bs-content="Рубленая котлетка из куриного филе с гарниром из пюре" alt='пюрешка'>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Комплексный обед<a class="rounded-pill btn btn-light text-center ml-1" href="/lunch">Заказать</a></h3>
            <p class="lead" style="font-size: 24px;">Комплексный обед включает в себя один салат, один суп, одно горячее, один гарнир на выбор.</p>
        </div>
        <div class="col-6">
            <img src="{{ url_for('static', filename='img/grech.png') }}" style="width: 65%" data-toggle="popover" data-bs-title="Греческий" data-bs-content="Классический овощной салат с сыром" alt='салатик'>
        </div>
    </div>
        <h2 class="mb-4">О нас</h2>
    <div class="row">
        <div class="col">
            <h3>Готовые комплексные обеды</h3>
            <p class="lead" style="font-size: 24px;">У нас есть несколько готовых вариантов бизнес-ланча, чтобы Вам было проще выбирать</p>
        </div>
        <div class="col">
            <h3>Регулярное обновление меню</h3>
            <p class="lead" style="font-size: 24px;">Мы обновляем позиции в меню каждую неделю</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Доставка</h3>
            <p class="lead" style="font-size: 24px;">У нас есть доставка блюд до рабочего места</p>
        </div>
        <div class="col">
            <h3>Заказ и бронирование</h3>
            <p class="lead" style="font-size: 24px;">Вы можете заранее онлайн выбрать блюда и забронировать место на нужное время</p>
        </div>
    </div>
</div>
{% endblock %}