{% extends "base.html" %}

{% block content %}
<ul class="nav justify-content-center mt-3">
    <li class="nav-item">
        <a class="nav-link" href="/menu/breakfast">
            <button class="btn category">
                Завтраки
            </button>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/menu/first">
            <button class="btn category">
                Первые блюда
            </button>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/menu/second">
            <button class="btn category">
                Вторые блюда
            </button>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/menu/salads">
            <button class="btn category">
                Салаты
            </button>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/menu/desserts">
            <button class="btn category">
                Десерты
            </button>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/menu/drinks">
            <button class="btn category">
                Напитки
            </button>
        </a>
    </li>
</ul>
<div class="container">
    <div class="row">
        {% for item in food_list %}
        <div class="col-lg-4 col-md-6 col-sm-12 mt-5">
            {% if item == 'add' %}
            <a href="/add">
                <div class="card h-100 text-center dish">
                    <div class="card-body">
                        <img src="{{ url_for('static', filename='img/add.png')}}" class="card-img-top my-5" alt='Добавить блюдо в меню'>
                    </div>
                </div>
            </a>
            {% else %}
            <div class="card h-100 text-center dish" data-bs-toggle="modal" data-bs-target="#{{item['text_id']}}" data-toggle="popover" data-bs-placement="top" data-bs-title="Пищевая ценность на 100 г" data-bs-content="Энерг. ценность:
{{ item['calories_proteins'].split(';')[0] }} Белки: {{ item['calories_proteins'].split(';')[1] }} Жиры: {{ item['calories_proteins'].split(';')[2] }} Углеводы: {{ item['calories_proteins'].split(';')[3] }}" data-bs-trigger="hover focus">
                <div class="card-body">
                    <img src="{{ url_for('static', filename='img/' + item['text_id'] + '.png') }}" class="card-img-top" alt='{{ item["name"] }}'>
                    <h5 class="card-title price mb-0">{{item["price"]}}₽</h5>
                    <h5 class="card-title">{{item["name"]}}</h5>
                    <p class="card-text">{{item["description"]}}</p>
                </div>
            </div>
            <div class="modal fade" id="noreg" tabindex="-1" aria-labelledby="noregModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title fs-5" id="noregModalLabel">Предупреждение</h5>
                            <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Закрыть">✕</button>
                        </div>
                        <div class="modal-body">
                            <p>Необходимо зарегистрироваться</p>
                        </div>
                        <div class="modal-footer">
                            <a href="/registration">
                                <button type="button" class="btn btn-login">Зарегистрироваться</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal" id="{{item['text_id']}}" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title fs-5" id="ModalLabel">{{item["name"]}}</h5>
                            <div class="star_cont">
                                <a href="/menu/rate/{{ item['type'] }}/5/{{ item['text_id'] }}" class="star">&#9733;</a>
                                <a href="/menu/rate/{{ item['type'] }}/4/{{ item['text_id'] }}" class="star">&#9733;</a>
                                <a href="/menu/rate/{{ item['type'] }}/3/{{ item['text_id'] }}" class="star">&#9733;</a>
                                <a href="/menu/rate/{{ item['type'] }}/2/{{ item['text_id'] }}" class="star">&#9733;</a>
                                <a href="/menu/rate/{{ item['type'] }}/1/{{ item['text_id'] }}" class="star">&#9733;</a>
                                <span class="rating">5.0</span>
                            </div>
                            <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Закрыть">✕</button>
                        </div>
                        <div class="row">
                            <div class="col">
                                <img src="{{ url_for('static', filename='img/' + item['text_id'] + '.png') }}" class="card-img-top" alt='{{ item["name"] }}'>
                            </div>
                            <div class="col">
                                <div class="modal-body d-flex flex-column">
                                    <p>Состав:<br>{{item["composition"]}}</p>
                                </div>
                                {% if current_user.is_authenticated %}
                                <a href="/food_add/{{cur_usr.id}}/{{item['text_id']}}/{{item['type']}}">
                                    <button type="button" class="btn btn-login btn-block align-self-end justify-content-end" data-bs-toggle="modal" data-bs-target="#added">В корзину</button>
                                </a>
                                {% else %}
                                <button type="button" class="btn btn-login btn-block" data-bs-toggle="modal" data-bs-target="#noreg">В корзину</button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="added" tabindex="-1" aria-labelledby="Label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title fs-5" id="Label">Добавлено</h5>
                            <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Закрыть">✕</button>
                        </div>
                        <div class="modal-body">
                            <p class="text-center">Добавлено</p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-outline-login" data-bs-dismiss="modal">Продолжить</button>
                            <a href="/basket" class="btn btn-login">В корзину</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}