{% extends "base.html" %}

{% block content %}
<div class="container mt-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">История заказов</h5>
            {% for order in history %}
            <hr>
            {% for item in order %}
            <p class="card-text">{{ item[0] }} {{ item[1] }}</p>
            {% endfor %}
            {% endfor %}
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">Привязанная карта</h5>
            {% if payment_inf %}
            <p class="card-text">{{ payment_inf[0] }}</p>
            <p class="card-text">{{ payment_inf[1] }}</p>
            <p class="card-text">{{ payment_inf[2] }}</p>
            <button class="btn btn-sm btn-coffee" data-bs-toggle="modal" data-bs-target="#payment-card">Изменить</button>
            <div class="modal fade" id="payment-card" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title fs-5" id="label">Привязка карты</h5>
                            <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Закрыть">✕</button>
                        </div>
                        <div class="modal-body">
                            <form action="" method="post">
                                {{ form_payment.hidden_tag() }}
                                {{ form_payment.number.label }}<br>
                                {{ form_payment.number(class="form-control") }}<br>
                                {% for error in form_payment.number.errors %}
                                <p class="alert alert-danger" role="alert">{{ error }}</p>
                                {% endfor %}
                                {{ form_payment.term.label }}<br>
                                {{ form_payment.term(class="form-control") }}<br>
                                {% for error in form_payment.term.errors %}
                                <p class="alert alert-danger" role="alert">{{ error }}</p>
                                {% endfor %}
                                {{ form_payment.cvc.label }}<br>
                                {{ form_payment.cvc(class="form-control") }}<br>
                                {% for error in form_payment.cvc.errors %}
                                <p class="alert alert-danger" role="alert">{{ error }}</p>
                                {% endfor %}
                                {{ form_payment.save(type="submit", class="btn btn-primary") }}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <button class="btn btn-coffee" data-bs-toggle="modal" data-bs-target="#card">Привязать карту</button>
            <div class="modal fade" id="card" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title fs-5" id="exampleModalLabel">Привязка карты</h5>
                            <button type="button" class="btn" data-bs-dismiss="modal" aria-label="Закрыть">✕</button>
                        </div>
                        <div class="modal-body">
                            <form class="forizontal-form" action="" method="post">
                                <h2 class="heading">Привязка карты</h2>
                                {{ form_payment.hidden_tag() }}
                                {{ form_payment.number(class="form-control") }}<br>
                                {% for error in form_payment.number.errors %}
                                <p class="alert alert-danger" role="alert">{{ error }}</p>
                                {% endfor %}
                                {{ form_payment.term(class="form-control") }}<br>
                                {% for error in form_payment.term.errors %}
                                <p class="alert alert-danger" role="alert">{{ error }}</p>
                                {% endfor %}
                                {{ form_payment.cvc(class="form-control") }}<br>
                                {% for error in form_payment.cvc.errors %}
                                <p class="alert alert-danger" role="alert">{{ error }}</p>
                                {% endfor %}
                                {{ form_payment.save(type="submit", class="btn btn-primary") }}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="text-right mt-3">
        <a href="/logout" class="btn btn-danger">Выйти</a>
    </div>
</div>
{% endblock %}