{% extends "base.html" %}

{% block content %}
<ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
        <a class="nav-link" href="/statistics/month">Заказы блюда по кварталам</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/statistics/day">Лучшие заказы</a>
    </li>
</ul>
<div class="container">
    <h1 class="display-4 text-center">Статистика заказов блюд по кварталам</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Блюда</th>
            <th>I</th>
            <th>II</th>
            <th>III</th>
            <th>IV</th>
        </tr>
        </thead>
        <tbody>
        {% for item in stat_list %}
        <tr>
            <td>{{ item["food_name"] }}</td>
            <td>{{ item["first_quarter"] if item["first_quarter"] else 0}}</td>
            <td>{{ item["second_quarter"] if item["second_quarter"] else 0}}</td>
            <td>{{ item["third_quarter"] if item["third_quarter"] else 0}}</td>
            <td>{{ item["fourth_quarter"] if item["fourth_quarter"] else 0}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}