{% extends "base.html" %}

{% block content %}
<ul class="nav nav-tabs justify-content-center">
    <li class="nav-item">
        <a class="nav-link" href="/add">Добавление</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/delete">Удаление</a>
    </li>
</ul>
<div class="container">
    <h1>Статистика заказов блюд по месяцам</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Блюда</th>
            <th>Ноябрь</th>
            <th>Декабрь</th>
            <th>Январь</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Борщ</td>
            <td>50</td>
            <td>30</td>
            <td>20</td>
        </tr>
        <tr>
            <td>Солянка</td>
            <td>40</td>
            <td>35</td>
            <td>25</td>
        </tr>
        <tr>
            <td>Оливье</td>
            <td>45</td>
            <td>28</td>
            <td>22</td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}